castor-jaxb-2.0/trunk/src/test/resources/testa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/test"
	xmlns:tns="http://www.example.org/test"
	elementFormDefault="qualified">

	<element name="aTest">
		<complexType>
			<sequence>
				<element name="aChild" maxOccurs="1">
					<complexType>
						<sequence>
							<element name="name" type="string" />
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>